@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
}

::-webkit-scrollbar {
  width: 5px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.9);
}

::-webkit-scrollbar-thumb {
  background: #6ee7b7;
}

::-webkit-scrollbar-thumb:hover {
  background: #42edae;
}

::-webkit-scrollbar-corner {
  background: rgba(255, 255, 255, 0.9);
}
