@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
  background-size: cover; /* Ensures the image covers the entire background */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-position: center; /* Centers the image */
  background-color: #007754; /* Fallback color */
}

.nnn{ 
     width: 70px;
    height: auto;

}


/* Add this to your CSS file, e.g., style.css */
.gradient-text {
  background: linear-gradient(to right, #085A3C, #17f452);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Add this to your CSS file */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* Prevent extra scroll */
}

.relative.min-h-screen {
  box-sizing: border-box;
}

.relative.min-h-screen::after {
  content: "";
  display: block;
  height: 100%;
}
