@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
  from { opacity: 0.2; }
  to { opacity: 1; }
}

.gradient-text {
  background: linear-gradient(to right, #ffffff, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.signature{
  font-family: "Style Script", cursive;
}

/* these get overwritten */
::-webkit-scrollbar {
  width: 5px;
  height: 12px; 
}

::-webkit-scrollbar-track {
  background: #aec1ee;
}

::-webkit-scrollbar-thumb {
  background: #065f46;
}

::-webkit-scrollbar-thumb:hover {
  background: #0b8065;
}

::-webkit-scrollbar-corner {
  background: rgb(255, 255, 255, 0.5);
}