@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
  from { opacity: 0.2; }
  to { opacity: 1; }
}

.background-image {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/src/assets/Neo-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;  
  animation: fadeIn 1s ease-in-out;
}

/* Add this to your CSS file, e.g., style.css */
.gradient-text {
  background: linear-gradient(to right, #ffffff, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}