@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Style+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Style+Script&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

* {
  box-sizing: border-box;
}

.background-image {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/src/assets/Neo-bg.jpg");
  background-image: url("/src/assets/Neo-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-position: center;
  animation: fadeIn 1s ease-in-out;
}

.gradient-text {
  background: linear-gradient(to right, #ffffff, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.signature {
  font-family: "Style Script", cursive;
}

/* these get overwritten */
::-webkit-scrollbar {
  width: 5px;
  height: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #aec1ee;
}

::-webkit-scrollbar-thumb {
  background: #065f46;
}

::-webkit-scrollbar-thumb:hover {
  background: #0b8065;
}

::-webkit-scrollbar-corner {
  background: rgb(255, 255, 255, 0.5);
}

:root {
  --color-1: 0 100% 63%;
  --color-2: 270 100% 63%;
  --color-3: 210 100% 63%;
  --color-4: 195 100% 63%;
  --color-5: 90 100% 63%;
}

/* tailwind does not support clipping */
#login-container h1 {
  font-weight: bold;
  background: linear-gradient(50deg, rgb(4, 83, 33) 30%, rgb(4, 123, 54) 100%);
  background-clip: text;
  color: transparent;
  text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.2);
}

#login-body {
  border-width: 4px;
  border-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgb(209, 250, 229, 0.8),
      rgba(0, 0, 0, 0)
    )
    1 100%;
}

.gradient2 {
  font-weight: bold;
  background: linear-gradient(
    50deg,
    rgb(52, 211, 153) 30%,
    rgb(39, 177, 126) 100%
  );
  background-clip: text;
  color: transparent;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.gradient {
  background: linear-gradient(40deg, rgb(4, 123, 54) 50%, rgb(4, 83, 33) 80%);
  background-clip: text;
  color: transparent;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
}

#email:focus,
#password:focus,
#otpCode:focus {
  outline: none;
}

#submit:hover,
#otpCode:hover {
  transform: scale(1.005);
}

.text-shadow {
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

@keyframes neon-glow {
  0% {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5),
      0 0 10px rgba(255, 255, 255, 0.5);
  }
  100% {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8),
      0 0 35px rgba(255, 255, 255, 0.8);
  }
}

.hover:shadow-neon:hover {
  animation: neon-glow 1.5s ease-in-out infinite alternate;
}

@media (max-width: 768px) {
  .text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  }
}

.hover:shadow-neon:hover {
  animation: neon-glow 1.5s ease-in-out infinite alternate;
}

@keyframes neon-glow {
  0% {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5),
      0 0 10px rgba(255, 255, 255, 0.5);
  }
  100% {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8),
      0 0 35px rgba(255, 255, 255, 0.8);
  }
}